a {
  color: #FFF;
  text-decoration: none;

  &:visited, &:focus, &:hover {
    color: #FFF;
  }
}

.site-footer-right {
  visibility: hidden;
}

nav .logo-icon-container {
  float: left;

  img {
    top: 15px !important;
  }
}

@media (max-width: 768px) {
  .app-container .content-container .side-body {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
