#orders {
  text-align: left;

  .filters {
    text-align: center;

    .status {
      display: inline-block;
      color: #FFF;
      box-sizing: border-box;
      padding: 10px 24px;
      border-radius: 5px;
      cursor: pointer;
      user-select: none;
      margin-bottom: 5px;
      opacity: 0.2;
      transform: scale(1);
      transition: all 0.2s ease-in-out;

      &[data-status="aprovado"] {
        background-color: #F2435C;
      }

      &[data-status="producao"] {
        background-color: #FABE28;
      }

      &[data-status="expedido"] {
        background-color: #22A7F0;
      }

      &[data-status="entregue"] {
        background-color: #1ABC9C;
      }

      &:hover {
        transform: scale(1.04);
      }

      &.active {
        opacity: 1;
      }
    }
  }

  .card {
    max-width: 18rem;
    letter-spacing: initial;
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    color: #FFF;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .card-header {
      .card-title {
        padding: 10px 20px;
      }
    }

    .card-body {
      .items {
        padding-left: 20px;
      }
    }

    &[data-status="aprovado"] {
      background-color: #F2435C;
    }

    &[data-status="producao"] {
      background-color: #FABE28;
    }

    &[data-status="expedido"] {
      background-color: #22A7F0;
    }

    &[data-status="entregue"] {
      background-color: #1ABC9C;
    }
  }
}